body{
    background-color: #fcf6bd;

}

h1{
    width: 100%;
    text-align: center;
    color: #073b4c;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 2em;

}

li{
    list-style: circle;
}

.name{
    display: flex;
}

.lista{
    display: flex;
}

.container{
    border: solid 5px red;
}




/* part the images */

img{
    width: 100px;
    height: 100px;
}